body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  font-family: 'Roboto';
  color: white;
  background: black;
  text-shadow: 1px 1px .5px rgba(0,0,0,.6), 2px 2px 5px rgba(0,0,0,.2), -.5px -.5px .5px rgba(0,0,0,.2)
}

#welcome {
  height: 100%;
  min-height: 100%;
  display: table;
  width: 100%;
  z-index: 10;
  position: absolute;
  background-color: #009688;
  font-size: 2em;
  text-align: center;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  opacity: 1;
}

#welcome .wrapper {
  display: table-cell;
  vertical-align: middle;
}
#welcome h1, #welcome h3 {
  margin: 25px;
}
#welcome img {
  margin-top: -80px
}

#display {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.photo {
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: contain; // contain or cover
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0; // initial state
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.visible {
  opacity: 1;
}

#infos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 8px 25px;
  font-size: 2em;
  font-weight: 900;
  line-height: 1em;
}

#infos span {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
}

#progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: #009688;
  border-top: 1px solid rgba(0,0,0,.2);
  transition: width 1s;
}
